.box--two {
  background-color: lightgreen;

  width: 100px;
  height: 100px;
}

@media screen and (min-width: 600px) {
  .box--two {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .box--two {
    width: 400px;
  }
}
