.box--five-small {
  width: 100%;
}

.box--five-medium {
  width: 100%;
}

.box--five-large {
  width: 100%;
}

.box--five-small img {
  width: 100%;
}

.box--five-medium img {
  width: 100%;
}

.box--five-large img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .box--five-small {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .box--five-medium {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .box--five-medium {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .box--five-large {
    display: none;
  }
}
